body {
  background-color: #5d0000;
}

.container {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
}

.divflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
}

li a {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
}

ul {
  display: flex;
  gap: 75px;
}

.fa-bars {
  font-size: 32px;
  display: none;
}

.book {
  width: 75px;
  height: 75px;
}
@media (max-width: 700px) {
  .fa-bars {
    display: block;
  }
  nav {
    display: none;
  }
}
