body {
  background-color: #540000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
}

.divflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 50px;
}

li a {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
}

ul {
  display: flex;
  gap: 75px;
}

.fa-bars {
  font-size: 32px;
  display: none;
}

.book {
  width: 75px;
  height: 75px;
  margin-top: -7px;
}
@media (max-width: 700px) {
  .fa-bars {
    display: flex;
  }
  nav {
    display: none;
  }
}

.img1 {
  margin-left: 50px;
  margin-top: 100px;
  width: 400px;
  height: 500px;
}
section {
  width: 1119px;
  height: 100%;
  background-color: rgb(107, 44, 53);
  display: flex;
}

.img2 {
  margin-left: 50px;
  margin-top: 100px;
  width: 400px;
  height: 500px;
}

h1 {
  color: #ffffff;
  margin-left: 40px;
  margin-top: 50px;
  font-size: 30px;
}

h2 {
  color: #540000;
  margin-left: 40px;
  margin-top: 20px;
  font-size: 17px;
}

h3 {
  margin-left: 40px;
  margin-top: 20px;
  color: #3328ce;
}

h4 {
  color: #ffffff;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 40px;
}

h5 {
  color: #ffffff;
  margin-left: 40px;
  margin-top: 50px;
}

h6 {
  color: #ffffff;
  margin-left: 40px;
  margin-top: 50px;
}

.div2 {
  display: flex;
  flex-direction: column;
}

.tavi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.potos {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1178px) {
  section {
    flex-direction: column;
    .potos {
      align-items: center;
    }
    .div2 {
      align-items: center;
    }
  }
}

.a1 {
  display: flex;
  justify-content: center;
  gap: 11px;
  margin-top: 40px;
  font-size: 17px;
}

.a1 a {
  color: red;
}

.h31 {
  color: #28ce30;
}

.poto241 {
  width: 400px;
  height: 60px;
}

@media (max-width:950px) {
  .potos {
    flex-direction: none;
  }
}

@media (max-width:600px) {
  .img2,.poto241 {
  }
  .a1 {
    flex-direction: column;
  }
  .img1 {
 display: none;
  }
}